.ctn-txt-result {
  margin: 60px 30px 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 160px 160px 160px 80px 160px 320px 160px 80px;
  justify-content: space-between;
  border-bottom: 3px solid #f6d43b;


}

.txt-result {
  font-size: 18px;
  font-weight: bold;
  display: inline;
  text-align: center;
  align-self: center;
}

.ctn-result {
  background-color: #f8f8ff;
  margin: 0px 30px 60px;
}

.container-list-result {
  padding: 10px;
  display: grid;
  grid-template-columns: 160px 160px 160px 80px 160px 320px 160px 80px;

}

.line-result {
  font-size: 18px;
  display: inline;
  text-align: center;
  align-self: center;

}

.edit {
  font-size: 18px;
  display: inline;
  text-align: center;
  align-self: center;
  color: #909090;
  text-decoration: underline;
  font-size: 18px;
  align-self: center;
  cursor: pointer;
}